* {
  margin: 0;
  padding: 0;
}

.container {
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

body {
  font-family: "Roboto", sans-serif;
}

#header .header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#header .header--title {
  display: flex;
  align-items: center;
}
#header .header--title p {
  padding: 0 15px;
  font-weight: 400;
  font-size: 18px;
  color: rgba(31, 46, 53, 0.8);
}
#header .header--title p:hover {
  color: blue;
}
#header .header--title select {
  padding: 0 15px;
  border: none;
}
#header .header--icons img {
  padding: 0 10px;
}

#hero .hero {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#hero .hero--title h1 {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 133.69%;
  color: #1F2E35;
  margin-bottom: 25px;
}
#hero .hero--title h1 span {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 133.69%;
  color: #EE4248;
}
#hero .hero--title p {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 29px;
  margin-bottom: 25px;
  color: #30444E;
}
#hero .hero--title button {
  padding: 10px 30px;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  background: #EE4248;
  border: none;
  color: #FFFFFF;
}

#block .block {
  margin: 80px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
#block .block--nav h1 {
  font-weight: 500;
  font-size: 32px;
  color: #1F2E35;
  margin-bottom: 20px;
}
#block .block--nav h1 span {
  font-weight: 500;
  font-size: 32px;
  line-height: 133%;
  color: red;
}
#block .block--nav p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #30444E;
  width: 520px;
}
#block .block--nav p span {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: red;
  width: 520px;
}

#product .product--title {
  display: flex;
  align-items: center;
  justify-content: center;
}
#product .product--title h1 {
  width: 288px;
  height: 43px;
  font-weight: 500;
  font-size: 32px;
  text-align: center;
  color: #1F2E35;
}
#product .product--block {
  margin: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#product .product--block__block h1 {
  margin: 10px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 28px;
  color: #EE4248;
}
#product .product--block__block p {
  margin: 20px 0;
  width: 319px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  color: #30444E;
}
#product .product--block__block button {
  margin: 5px 0;
  border: none;
  width: 119px;
  height: 42px;
  background: #EE4248;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
  border-radius: 4px;
  color: azure;
  cursor: pointer;
}
#product .product--block__block button:hover {
  background: aqua;
  color: red;
}

#contact {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  background: #EE4248;
}
#contact .contact h1 {
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
}
#contact .contact p {
  font-weight: 400;
  font-size: 18px;
  line-height: 150%;
  color: #30444E;
  width: 520px;
}
#contact .contact p span {
  font-weight: 500;
  font-size: 32px;
  line-height: 133%;
  color: red;
}

#center .center--block {
  margin: 20px 0;
  display: flex;
  align-items: center;
}
#center .center--block__dsi h1 {
  font-weight: 500;
  font-size: 18px;
  color: #263238;
}
#center .center--block__dsi p {
  width: 317px;
  font-weight: 300;
  font-size: 18px;
  color: #263238;
}
#center .center--block__contact h1 {
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  color: #263238;
}
#center .center--block__contact p {
  width: 317px;
  font-weight: 300;
  font-size: 18px;
  line-height: 149.19%;
  color: #263238;
}

/*# sourceMappingURL=style.css.map */
