@import "mixin";
@import "reset";

#header{
  .header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    &--title{
      display: flex;
      align-items: center;
      p{
        padding: 0 15px;
        font-weight: 400;
        font-size: 18px;
        color: rgba(31, 46, 53, 0.8);
        &:hover{
          color: blue;
        }
      }
      select{
        padding: 0 15px;
        border: none;
      }
    }
    &--icons{
      img{
        padding: 0 10px;
      }
    }
  }
}

#block {
  .block {

    @include se;

    &--nav {
      h1 {
        font-weight: 500;
        font-size: 32px;
        color: #1F2E35;
        margin-bottom: 20px;

        span {
          font-weight: 500;
          font-size: 32px;
          line-height: 133%;
          color: red;
        }
      }

      p {
        font-weight: 400;
        font-size: 18px;
        line-height: 150%;
        color: #30444E;
        width: 520px;

        span {
          font-weight: 400;
          font-size: 18px;
          line-height: 150%;
          color: red;
          width: 520px;


        }
      }

    }

  }
}

#product {
      .product {
        &--title {
          display: flex;
          align-items: center;
          justify-content: center;

          h1 {
            width: 288px;
            height: 43px;
            font-weight: 500;
            font-size: 32px;
            text-align: center;
            color: #1F2E35;
          }
        }
        &--block {
          margin: 50px 0;
          display: flex;
          align-items: center;
          justify-content: space-around;



              &__block {
                h1 {
                  margin: 10px 0;
                  font-family: 'Roboto', sans-serif;
                  font-weight: 500;
                  font-size: 28px;
                  color: #EE4248;

                }

                p {
                  margin: 20px 0;
                  width: 319px;
                  font-family: 'Roboto', sans-serif;
                  font-weight: 400;
                  font-size: 18px;
                  color: #30444E;

                }

                button {
                  margin: 5px 0;
                  border: none;
                  width: 119px;
                  height: 42px;
                  background: #EE4248;
                  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.25);
                  border-radius: 4px;
                  color: azure;
                  cursor: pointer;

                  &:hover {
                    background: aqua;
                    color: red;
                  }
                }
              }
            }

          }
}

#contact {
            @include cen;
            width: 1440px;
            height: 64px;
            background: #EE4248;

            .contact {
              h1 {
                text-align: center;
                font-weight: 400;
                font-size: 18px;
                line-height: 21px;
                color: #FFFFFF;
              }

              p {
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                color: #30444E;
                width: 520px;


                span {
                  font-weight: 500;
                  font-size: 32px;
                  line-height: 133%;
                  color: red;
                }
              }


              p {
                font-weight: 400;
                font-size: 18px;
                line-height: 150%;
                color: #30444E;
                width: 520px;

                span {
                  font-weight: 400;
                  font-size: 18px;
                  line-height: 150%;
                  color: red;
                  width: 520px;


                }
              }

            }

          }

#center {
          .center {
            &--block {
              margin: 20px 0;
              display: flex;
              align-items: center;

              &__dsi {
                h1 {
                  font-weight: 500;
                  font-size: 18px;
                  color: #263238;
                }

                p {
                  width: 317px;
                  font-weight: 300;
                  font-size: 18px;


                  color: #263238;
                }
              }

              &__contact {
                h1 {
                  font-weight: 500;
                  font-size: 24px;
                  line-height: 28px;

                  color: #263238;

                }

                p {
                  width: 317px;
                  font-weight: 300;
                  font-size: 18px;
                  line-height: 149.19%;


                  color: #263238;
                }
              }
            }
          }
        }











